.App {
  font-family: sans-serif;
  text-align: center;
}

.calculator {
  margin: auto;
  margin-top: 20px;
  width: 302px;
  box-sizing: border-box;
  background-color: rgb(49, 136, 185);
  box-shadow: 0px 0px 5px 0px #000;
  border-radius: 10px;
}

.calculator-container {
  padding: 25px;
}

.calculator-inputs-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.operatorStyle {
  font-weight: 100;
  font-family: 'open sans light',arial,sans-serif;;
}

button.clear {
  width: 184px;
  height: 48px;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 20px;
  background: #8B8B8B;
  color: white;
  box-shadow: 5px 5px 3px 0px #2c2c2c;
  border: 0px solid #2c2c2c;
  border-radius: 50px;
}

button.calc-input {
  width: 48px;
  height: 48px;
  border: 0px solid #2c2c2c;
  border-radius: 50px;
  font-size: 30px;
  box-shadow: 5px 5px 3px 0px #2c2c2c;
}

button.calc-input.zero {
  width: 184px;
  text-align: center;
  padding-left: 15px;
}

button.calc-input.numeric {
  background: #FFFFFF;
}

button.calc-input.operator {
  background: #2c2c2c;
  color: white;
  box-sizing: border-box;
  padding-bottom: 6px;
}

.calculator-results {
  text-align: right;
  padding: 25px;
  background-color: #8b8b8b;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid #2c2c2c;
}

.calculator-results div:first-child {
  color: #FFFFFF;
  font-size: 40px;
  height: 55px;
}

.calculator-results div:last-child {
  color: #2c2c2c;
  font-size: 30px;
}

.calculationDisplay, .resultDisplay {
  overflow: hidden;
  white-space:nowrap;
}
